.counter {
    text-align: center;
    position: relative;
}
    .counter + .counter::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 40px;
        background-color: #ccc;
        position: absolute;
        left: calc(var(--var-gap) * -0.5);
        top: 50%;
        transform: translateY(-50%);
    }
    .counter > .number {
        font-size: 45px;
        line-height: 80px;
        font-weight: bold;
        color: blue;
    }   

    .counter > .label {
        font-size: 17px;
        line-height: 20px;
        color: #333;
    }

    @media (max-width: 860px) {
        .counter:nth-of-type(2n+1)::before {
           display: none;
        }
    }
    @media (max-width: 680px) {
        .counter + .counter::before {
           display: none;
        }
    }